:root {
  --terminal-background: white;
  --terminal-color: black;
  --terminal-border: 1px dashed black;
}

body,
input,
h1,
h2,
h3,
button,
select {
  font-family: monospace;
  font-size: 1rem;
  font-style: normal;
}

button,
input[type=submit],
select {
  border: var(--terminal-border);
}

#add_machine,
#add_connection,
#rm_connection,
#vote {
  display: grid;
  margin-bottom: 2rem;
}

#spawn-msg {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #0036e6;
  color: white;
  padding: 20rem;
  margin: 0;
  transition: all 0.2s ease;
  opacity: 0;
  /* pointer-events: none; */
}

#dead {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #ff0000;
  color: white;
  padding: 20rem;
  margin: 0;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

#cols {
	display: flex;
	flex-direction: row;
  gap: 0.5rem;
}

#cols > div {
	width: 45vw;
	min-width: 400px;
}

#chat_log, #player_state {
	list-style-type: none;
	padding-left: 0;
  margin: 0;
}

.terminal {
  font-family: monospace;
  padding: 0 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: background 2s ease, color 2s ease;
  border: var(--terminal-border);
  color: var(--terminal-color);
  background: var(--terminal-background);
}

.terminal .track {
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.terminal .terminal-input {
  background: var(--terminal-background);
  color: var(--terminal-color);
}

.terminal * {
  &::selection {
    background: var(--terminal-color);
    color: var(--terminal-background);
  }
}

.terminal .terminal-output {
  height: 24rem;
  width: 60ch;
  white-space: pre-wrap;
  vertical-align: text-bottom;
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.5rem;
  justify-content: end;
  overflow-y: scroll;
  overflow-x: hidden;
}
.terminal .terminal-input {
  font-family: monospace;
  font-size: 1rem;
  height: 3rem;
  padding: 0;
  line-height: 2rem;
  border: none;
  outline: none;
  width: 60ch;
  transition: background 2s ease, color 2s ease;
}

.output-content {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.close-terminal {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}


/* ul {
	list-style-type: none;
}*/