:root {
  --terminal-background: white;
  --terminal-color: black;
  --terminal-border: 1px dashed black;
}

body {
  overflow: hidden;
}

body,
input,
h1,
h2,
h3,
button,
select {
  font-family: monospace;
  font-size: 1rem;
  font-style: normal;
}

button,
input[type=submit],
select {
  border: var(--terminal-border);
}

input[type=submit] {
  display: block;
  height: 40px;
}

#machine_spawn {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0,0,0,0.8);
  color: white;
  display: none;
  pointer-events: none;
}

#col_left,
#col_right {
  height: 85vh;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0 1rem;
}

#col_left {
  transform-origin: 100% 0;
  transform: skew(0, -6deg);
}

#col_right {
  display: grid;
  grid-template-columns: 400px 1fr;
  transform-origin: 0 0;
  transform: skew(0, 7deg);
}

#add_machine,
#add_connection,
#rm_connection,
#vote {
  display: grid;
  grid-template-columns: 70% 1fr;
  margin-bottom: 2rem;
}

.w-full {
  width: 100%;
}

#spawn-msg {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #0036e6;
  color: white;
  padding: 20rem;
  margin: 0;
  transition: all 0.2s ease;
  opacity: 0;
  /* pointer-events: none; */
}

#dead {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #ff0000;
  color: white;
  margin: 0;
  transition: all 0.2s ease;
  text-align: center;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  display: none;
}

#cols {
	display: grid;
	grid-template-columns: 500px 1fr;
  gap: 0;
}

#cols div {
	min-width: 500px;
}

#chat_log, #player_state {
	list-style-type: none;
	padding-left: 0;
  margin: 0;
}

#player_state {
  aspect-ratio: 3 / 2;
  background: beige;
  padding: 1rem;
}

#chat {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.terminal {
  font-family: monospace;
  padding: 0 0 0  1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: background 2s ease, color 2s ease;
  border: var(--terminal-border);
  color: var(--terminal-color);
  background: var(--terminal-background);
  display: none;
}

.terminal .track {
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.terminal .terminal-input {
  background: var(--terminal-background);
  color: var(--terminal-color);
}

.terminal * {
  &::selection {
    background: var(--terminal-color);
    color: var(--terminal-background);
  }
}

.terminal .terminal-output {
  height: 24rem;
  width: 60ch;
  white-space: pre-wrap;
  vertical-align: text-bottom;
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.5rem;
  justify-content: end;
  overflow-y: scroll;
  overflow-x: hidden;
}
.terminal .terminal-input {
  font-family: monospace;
  font-size: 1rem;
  height: 3rem;
  padding: 0;
  line-height: 2rem;
  border: none;
  outline: none;
  width: 60ch;
  transition: background 2s ease, color 2s ease;
}

.output-content {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.close-terminal {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}

.cores {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
  width: 100vw;
}

.chat {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.core {
  height: 80px;
  animation: 3s ease-in infinite reverse both running rotaterrrr;
}

@keyframes rotaterrrr {
  from {
    transform: rotate3d(0, 0, 0, 360deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

#feedback {
  position: fixed;
  bottom: 100px;
  left: 0;
  background: white;
}
#chat {
  position: absolute;
  bottom: 0;
  left: 0;
}


/* ul {
	list-style-type: none;
}*/