<!DOCTYPE HTML>
<html>
<head>
    <title>THIS CURSED MACHINE</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('create_core');
            });

            socket.on('chat_msg', function(msg, cb) {
                $('#chat_log').append( $('<li/>').text(msg.data));
                if (cb)
                    cb();
            });

           socket.on('world_state', function(msg, cb) {
               const world_state = JSON.parse(msg.data)
               console.log('got world state', world_state)
               $('#machines').text('')
               $('#connections').text('')
               $('#septic_tank').text('')
                world_state.machines.forEach((machine, i) => $('#machines').append( $('<li/>').text(machine.name + ' with id: ' + machine.machine_id)));
                world_state.connections.forEach((conn, i) => $('#connections').append( $('<li/>').text('from ' + conn.source + ' to ' + conn.dest + ' with id: ' + conn.conn_id)));
                world_state.pool.forEach((material, i) => $('#septic_tank').append( $('<li/>').text(material.amount + ' ' + material.material.name)));

                if (cb)
                    cb();
            });

            socket.on('disconnect', function() {
                socket.disconnect();
            });

            socket.on('die', function(){
               console.log('you died lol')
            })

            $('form#add_machine').submit(function(event) {
                socket.emit('add_machine', {machine_type: $('#machine_type').val()});
                return false;
            });

            $('form#add_connection').submit(function(event) {
                socket.emit('add_connection', {source: $('#source').val(), dest: $('#dest').val()});
                return false;
            });

            $('form#rm_connection').submit(function(event) {
                socket.emit('rm_connection', {conn_id: $('#rm_conn_id').val()});
                return false;
            });

            $('form#vote').submit(function(event) {
                socket.emit('vote', {conn_id: $('#vote_conn_id').val()});
                return false;
            });

            $('form#chat').submit(function(event) {
                socket.emit('chat', {data: $('#chat_msg').val()});
                return false;
            });

        });
    </script>
</head>
<body>
    <h1>THIS CURSED MACHINE</h1>
    <h2>modify grid</h2>
    <form id="add_machine" method="POST" action='#'>
        <input type="submit" value="Add Machine">
      <!-- <label>add machine</label> -->
      <select name="machine_type" id="machine_type">
        <option value="blender">blender</option>
        <option value="scorcher">scorcher</option>
        <option value="splitter">splitter</option>`
        <option value="wetter">wetter</option>
        <option value="parcher">parcher</option>
      </select>
    </form>

    <form id="add_connection" method="POST" action='#'>
        <input type="submit" value="Add Connection">
        <input type="text" name="source" id="source" placeholder="source machine id">
        <input type="text" name="dest" id="dest" placeholder="target machine id">
    </form>

    <form id="rm_connection" method="POST" action='#'>
        <input type="submit" value="Remove Connection">
        <input type="text" name="rm_conn_id" id="rm_conn_id" placeholder="connection id to remove">
    </form>

    <form id="vote" method="POST" action='#'>
        <input type="submit" value="Vote To Remove Connection">
        <input type="text" name="vote_conn_id" id="vote_conn_id" placeholder="connection id to remove">
    </form>

    <h2>chat:</h2>
    <div><ul id="chat_log"></ul></div>
    <form id="chat" method="POST" action='#'>
        <input type="submit" value="chat">
        <input type="text" name="chat_msg" id="chat_msg" placeholder="make your opinion known">
    </form>

    <h2>world state:</h2>
      <div>
         <h3>machines</h3>
         <ul id="machines"></ul>
      </div>
      <div>
         <h3>connections</h3>
         <ul id="connections"></ul>
      </div>
      <div>
         <h3>septic tank</h3>
         <ul id="septic_tank"></ul>
      </div>
    <h2>player status:</h2>`

    <div id="log"></div>
</body>
</html>
