<!DOCTYPE HTML>
<html>

<head>
  <title>THIS CURSED MACHINE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js"
    integrity="sha512-aFBNsI3+D6ObLLtyKwdZPZzDbcCC6+Bh+2UNV8HC0R95BpcBT+dmmZ5NMpJi/Ic8uO0W7FGcg33IfuHg+7Ryew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    // Make myWindow and myWindow2 draggable in different ways...

    $(document).ready(function () {
          var socket = io();

          socket.on('connect', function() {
              socket.emit('create_player');
              console.log('sent create: session id is', socket.io.engine.id)
          });

          socket.on('log_event', function(msg, cb) {
             $('#log').append( $('<li/>').html('<i>' + msg.data + '</i>'));
             
             if (cb)
                cb();
          });

          socket.on('tx_state', function(msg, cb) {
              console.log(msg.data)
          });

          socket.on('bid_info', function(msg, cb) {
              console.log(msg.data)
          });

          socket.on('player_info', function(msg, cb) {
            console.log(msg.bids)
            bids = JSON.parse(msg.bids)
            data = JSON.parse(msg.data)

            $('#player_bids').html(`<h2>Points: ${data.points}</h2>`)

            bids.buy_offers.forEach( bid => {
              $('#player_bids').append(`<p>BUYING ${bid.volume} ${bid.item_id} at ${bid.item_price}`)
            })

            bids.sell_offers.forEach( bid => {
              $('#player_bids').append(`<p>SELLING ${bid.volume} ${bid.item_id} at ${bid.item_price}`)
            })
            console.log(msg.data, msg.bids)
          });

          socket.on('disconnect', function() {
              socket.disconnect();
          });

          $('form#bid').submit(function(event){
            console.log('emitting')
            socket.emit('offer', {type: $('#type').val(), material: $('#material').val(), unit_price: $('#unit_price').val(), num_units: $('#num_units').val() });
            return false
          })
        });
    
  </script>
</head>

<body>

  <h1>THIS CURSED MACHINE</h1>

  <div><p>you're in the market edition now</p></div>

      <div id="player_bids"></div>
      <form id="bid" method="POST" action='#'>
        <div class="form-items">
          <div><span>Type:</span> 
            <select name="type" id="type">
              <option value="BUY">buy</option>
              <option value="SELL">sell</option>
            </select>
          </div>
          <div>
            <span>Material:</span>
              <select name="material" id="material">
              <option value="PISS">piss</option>
              <option value="BUGS">bugs</option>
              <option value="MDMA">MDMA</option>
            </select>
          </div>
          <div>
            <span>Unit Price</span> <input type="text" id="unit_price" name="unit_price"/>
          </div>
          <div>
            <span>No. Units</span> <input type="text" id="num_units" name="num_units"/>
          </div>
        </div>
        <input type="submit" value="Bid">
      </form>
      <div id="log"></div>
</body>

</html>