<!DOCTYPE HTML>
<html>

<head>
  <title>THIS CURSED MACHINE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js"
    integrity="sha512-aFBNsI3+D6ObLLtyKwdZPZzDbcCC6+Bh+2UNV8HC0R95BpcBT+dmmZ5NMpJi/Ic8uO0W7FGcg33IfuHg+7Ryew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    // Make myWindow and myWindow2 draggable in different ways...

    function formatDate(datestring) {
      const new_date = new Date(Date.parse(datestring))
      return new_date.toTimeString().split(' ')[0]
    }

    $(document).ready(function () {
          var socket = io();

          socket.on('connect', function() {
              socket.emit('create_player');
              console.log('sent create: session id is', socket.io.engine.id)
          });

          socket.on('log_event', function(msg, cb) {
             $('#log').append( $('<li/>').html('<i>' + msg.data + '</i>'));
             
             if (cb)
                cb();
          });

          socket.on('tx_state', function(msg, cb) {
              console.log(msg.data)
          });

          socket.on('bid_info', function(msg, cb) {
              console.log(msg.data)
          });

          socket.on('player_info', function(msg, cb) {
            console.log(msg.bids)
            bids = JSON.parse(msg.bids)
            data = JSON.parse(msg.data)

            $('#player-info').html(`<h2>you are player ${data.id} you have ${data.points} points, ${data.materials.BUGS} BUGS, ${data.materials.MDMA} MDMA, and ${data.materials.PISS} PISS </h2><h3>active bids:</h3>`)

            $('#player-bids').html('');

            bids.buy_offers.forEach( bid => {
              $('#player-bids').append($('<div/>').addClass('active-bid').html(`BUY ${bid.volume} ${bid.material} @ ${bid.unit_price}`))
            })

            bids.sell_offers.forEach( bid => {
              $('#player-bids').append($('<div/>').addClass('active-bid').html(`SELL ${bid.volume} ${bid.material} @ ${bid.unit_price}`))
            })

            const total_offers = bids.sell_offers.length + bids.buy_offers.length
            
            if(total_offers < 5){
              for(let i=0; i<6-total_offers; i++){
                $('#player-bids').append($('<div/>').addClass('active-bid').html(''))
              }
            }

            $('#log').html('<h3>completed transactions:</h3>')

            bids.buy_completed.forEach( bid => {
              $('#log').append( $('<li/>').html(`<i>${formatDate(bid.timestamp)} → bought ${bid.volume} ${bid.material} at ${bid.tx_price}</i>`));
             
            })

            bids.sell_completed.forEach( bid => {
              $('#log').append( $('<li/>').html(`<i>${formatDate(bid.timestamp)} → sold ${bid.volume} ${bid.material} at ${bid.tx_price}</i>`));
             
            })
            console.log(msg.data, msg.bids)
          });

          socket.on('disconnect', function() {
              socket.disconnect();
          });

          $('form#bid').submit(function(event){
            console.log('emitting')
            socket.emit('offer', {type: $('#type').val(), material: $('#material').val(), unit_price: $('#unit_price').val(), volume: $('#volume').val() });
            return false
          })
        });
    
  </script>
</head>

<body>

  <h1>THIS CURSED MACHINE</h1>

  <div><p>you're in the market edition now</p></div>

      <div id="player-info"></div>
      <div id="player-bids"></div>

      <div>
        <h3>make a bid:</h3>
        <form id="bid" method="POST" action='#'>
          <div class="form-items">
            <div><span>type:</span> 
              <select name="type" id="type">
                <option value="BUY">buy</option>
                <option value="SELL">sell</option>
              </select>
            </div>
            <div>
              <span>material:</span>
                <select name="material" id="material">
                <option value="PISS">piss</option>
                <option value="BUGS">bugs</option>
                <option value="MDMA">MDMA</option>
              </select>
            </div>
            <div>
              <span>volume:</span> <input type="text" id="volume" name="volume"/>
            </div>
            <div>
              <span>unit price:</span> <input type="text" id="unit_price" name="unit_price"/>
            </div>
          </div>
          <button value="BID">BID</button>
        </form>
      </div>

      <div id="log"></div>
</body>

</html>